body{
    background-color: rgb(222, 181, 208);
    margin: 0%;
    height: 0%;


}

h1 {
    text-align: center;
}
h4 {
    text-align: center;
}
.flex-container{
    border:2px solid darkorchid;
    width: 50%;
    margin: 0 auto;
    
}